<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:if = "${user.id != null}">
        Edit
    </title>
    <title th:if = "${user.id == null}">
        Create
    </title>

</head>
<body>

<form  action="#" th:action = "${user.id == null} ? @{/create} : @{/edit}" th:object = "${user}" method="POST">
    <p th:if="${user.id != null }"><input type = "hidden" name = "id" th:field ="*{id}" /></p>
    <p> First Name <label>
        <input type = "text" name = "firstName" th:field ="*{firstName}" />
    </label></p>
    <p> Last Name <label>
        <input type = "text" name = "lastName" th:field ="*{lastName}" />
    </label></p>
    <p> Email <label>
        <input type = "text" name = "email" th:field ="*{email}" />
    </label></p>
    <p> Username <label>
        <input type = "text" name = "username" th:field ="*{username}" />
    </label></p>
    <p> Password <label>
        <input type = "text" name = "password" th:field ="*{password}" />
    </label></p>
    <p th:if="${user.id != null}"><input type = "submit" value = "Update User"> </p>
    <p th:if="${user.id == null}"><input type = "submit" value = "Create User"> </p>
</form>


<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
<div>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>