<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="user :${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a href="editPage.html" th:href="@{/edit/(id=${user.getId()})}">edit</a>
            <a href="#" th:href="@{/delete/(id=${user.getId()})}">delete</a>
        </td>
    </tr>
</table>

<a href="#" th:href="@{/create}">Add new user</a>
</body>
</html>